<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdou.seanoy.acs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--注册Activity-->

        <!--欢迎界面-->
        <activity android:name=".WelcomeActivity"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--连接界面-->
        <activity android:name=".OYActivity">

        </activity>


        <!--选择界面-->
        <activity
            android:name=".OptionsActivity"
            android:label="@string/options_title"
            android:parentActivityName=".OYActivity"  >

        </activity>


        <!--开门界面-->
        <activity
            android:name=".OpenDoorActivity"
            android:label="@string/page_open_door"
            android:parentActivityName=".OptionsActivity"   >

        </activity>


        <!--考勤界面-->
        <activity
            android:name=".AttendanceActivity"
            android:label="@string/page_attendance"
            android:parentActivityName=".OptionsActivity"   >

        </activity>

    </application>



</manifest>